[{lfu,[
    {ets_dir,"priv"},		%% !!! must be string type !!!!!
    {ets_sync_reset,true},	%% !!! must be atom type !!!!!
    {ets_recovery,true},	%% !!! must be atom type !!!!!
    {tcp,on},			%% !!! must be atom type !!!!!
    {mode,inet},		%% !!! must be atom type !!!!!
    {port,7777},		%% !!! must be atom type !!!!!
    {ip,{127,0,0,1}},		%% !!! must be tuple type !!!!!
    {unix,"/tmp/lfu_socket"},	%% !!! must by string type !!!!!
    {num_acceptors,100},	%% !!! must by integer type !!!!!
    {max_connections,1024},	%% !!! must by integer type !!!!!
    {max_size_key,72}		%% !!! must by integer type !!!!!
]}].
